/* body{
  background: url(../src/asset/Img.png);
} */
.image{
  background: url("../src/asset/Img.png");
  padding-bottom: 10rem;
}
#contact{
  background-color: #fff;
  width:7rem;
  color:blue;
  text-shadow: 0.2rem 0.2rem 0.4rem #302f2f;
  font-weight:bold;
  font-size:10px;
  border-radius:3px;
  padding:6px;
}
.myImage{
  background: url("../src/asset/Img2.png");
  padding-bottom: 10rem;
}


@tailwind base;
@tailwind components;
@tailwind utilities;